#                     Pandas - Working with tabular data

In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [4]:
pokemons = {
    "Height" : np.random.randint(1,100,5),
    "Weight": np.random.randint(50,150,5),
    "Power": np.random.randint(200,500,5)
}

In [5]:
pokemons

{'Height': array([12, 18, 32, 61, 23]),
 'Weight': array([132,  82,  88, 102, 115]),
 'Power': array([356, 306, 369, 356, 297])}

### To view this data in tabular format

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(pokemons)
print(df)

   Height  Weight  Power
0      12     132    356
1      18      82    306
2      32      88    369
3      61     102    356
4      23     115    297

In [11]:
# Prints your table in a better way
df.head()

   Height  Weight  Power
0      12     132    356
1      18      82    306
2      32      88    369
3      61     102    356
4      23     115    297

In [12]:
# To limit number of rows in the table
df.head(n=3)

   Height  Weight  Power
0      12     132    356
1      18      82    306
2      32      88    369

### To get list of columns

In [13]:
print(df.columns)

Index(['Height', 'Weight', 'Power'], dtype='object')

### Create a CSV (Comma Separated File) File

In [16]:
df.to_csv('pokemon_data.csv')

### Read a DataFrame

In [17]:
df = pd.read_csv('pokemon_data.csv')

In [18]:
df.head()

   Unnamed: 0  Height  Weight  Power
0           0      12     132    356
1           1      18      82    306
2           2      32      88    369
3           3      61     102    356
4           4      23     115    297

##### To drop 1st column

In [20]:
df.drop(columns=['Unnamed: 0'])

   Height  Weight  Power
0      12     132    356
1      18      82    306
2      32      88    369
3      61     102    356
4      23     115    297

In [21]:
df.shape

(5, 4)

### If you dont want indexes while creating csv 
You have to load again

In [22]:
df.to_csv('pokemon_data.csv',index=False)