### Comments

In [1]:
# This is a single line comment

In [2]:
""" This
    is
    a
    Multiline 
    comment
"""

' This\n    is\n    a\n    Multiline \n    comment\n'

### Exponentiation

In [3]:
5**3

125

### Strings can be in single, double or triple quotes

In [4]:
char = 'a'
print(type('char'))

<class 'str'>

### New line and tab

In [5]:
print("Hello \nWorld")
print("Hello \tWorld")

Hello
World
Hello 	World

### Integer data type

In [6]:
a = 10
print(type('a'))

<class 'str'>

### Print format

In [7]:
mystring = ("Capital of %s is %s" % ("India","Delhi"))
print(mystring)

Capital of India is Delhi

In [8]:
mystring2 = "Capital of {} is {} and it is located at {},{}".format("India","Delhi",77.5,20.3)
print(mystring2)

Capital of India is Delhi and it is located at 77.5,20.3

### When to use 'end' and when to use 'sep'
- end : To tell how to end the line
- sep : Used to separate values

In [9]:
# For eg. in this case Hello and World are printed like this
print("Hello")
print("World")

Hello
World

In [10]:
# But after using 'end' it will end the first print with space instead of a new line

In [11]:
print("Hello",end=" ")
print("World")

Hello World

In [12]:
# sep
print("a","b","abc")

a b abc

In [13]:
# after using sep
print("a","b","abc",sep="\n")

a
b
abc

## Taking Input
Input value is always a string

In [1]:
name = input()
print("Hello " + name)

Rashmi
Hello Rashmi

In [2]:
age = input()
print(age)
print(type(age))

45
45
<class 'str'>

##### If you want to convert it to integer typecast it

In [3]:
age1 = int(age)
print(age1)
print(type(age1))

45
<class 'int'>

##### To read a number in python

In [4]:
number = int(input())

43

In [5]:
print(number)
print(type(number))

43
<class 'int'>

### To split a string

In [6]:
l = "10 20 30 40".split()
print(l)

['10', '20', '30', '40']

In [7]:
numbers = [int(no) for no in l]
print(numbers)

[10, 20, 30, 40]

###### To get a list of  strings

In [8]:
numbers = [int(no) for no in input().split()]

54 32 12 4 2 45

In [9]:
print(numbers)

[54, 32, 12, 4, 2, 45]

## If, elif and else

In [10]:
weather = input()

if weather == "Rainy":
 print("Don't go outside")
elif weather == "Sunny":
 print("GET OUT")
else:
 print("Do what ever you want")

Rainy
Don't go outside

## Loops

In [11]:
n = 10
i = 1
while i<=n:
    print("Step %d"%i)
    i += 1
print("Loop finished")

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9
Step 10
Loop finished

In [13]:
for i in range(1,10):            #Here ending parameter is not included
    print(i,end=", ")

1, 2, 3, 4, 5, 6, 7, 8, 9,

In [14]:
for i in range(1,10, 2):            #To make a jump of 2
    print(i,end=", ")

1, 3, 5, 7, 9,

## Break, continue ans pass statements

In [16]:
# pass does nothing
for i in range(1,10):
    if i == 5:
        pass
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [17]:

for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [18]:

for i in range(1,10):
    if i == 5:
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9

## Functions

In [20]:
def myfunc(score,lang):
    print("I scored %d in %s"%(score,lang))
myfunc(100,"python")

I scored 100 in python

In [24]:
# You can change order of arguments by mentioning explicitly
def myfunc(score,lang):
    print("I scored %d in %s"%(score,lang))
myfunc(lang="python", score=100)

I scored 100 in python

## Strings 
Python strings are not mutable

In [25]:
a = "We were on a break!!!!"
print(a)
print(a[6])  # Forward indexing starts from 0

We were on a break!!!!
e

In [27]:
# reverse indexing starts from -1 from the end
print(a[-5])

k

In [28]:
len(a)

22

In [30]:
for i in range(len(a)):
    print(a[i])

W
e

w
e
r
e

o
n

a

b
r
e
a
k
!
!
!
!

In [32]:
for i in a:
    print(i)

W
e

w
e
r
e

o
n

a

b
r
e
a
k
!
!
!
!

##### Concatenation

In [34]:
a = "Mango"
b = "Fruity"
a+b

'MangoFruity'

In [36]:
print(a*5) # creates 5 copies of mango

MangoMangoMangoMangoMango

In [41]:
# range slicing
print(a[1:3])
print(a[1:-2])
print(a[-1:])
print(a[:])

an
an
o
Mango

##### Membership

In [42]:
# search go in a
'go' in a

True

In [56]:
# Tripple quotes
str = """This
 is supposed
 to be a 
 nightmare"""
print(str)

This
 is supposed
 to be a
 nightmare

#### To split a paragraph into words

In [57]:
l = str.split()
print(l)

['This', 'is', 'supposed', 'to', 'be', 'a', 'nightmare']

In [58]:
print(type(l))
print(type(l[0]))

<class 'list'>
<class 'str'>

In [59]:
str.splitlines()

['This', ' is supposed', ' to be a ', ' nightmare']

In [60]:
name = "Joey"
name.upper()

'JOEY'

In [65]:
name.lower()

'joey'

In [66]:
print(name)

Joey

#### strip

In [68]:
shake = "       Blueberry Shake    "
print(shake)
print(len(shake))

       Blueberry Shake
26

In [70]:
# removes the leading white space
shake = shake.lstrip()
print(shake)
print(len(shake))

Blueberry Shake
19

In [71]:
# removes the ending white space
shake = shake.rstrip()
print(shake)
print(len(shake))

Blueberry Shake
15

In [72]:
# removes the white space
shake = shake.strip()
print(shake)
print(len(shake))

Blueberry Shake
15

In [73]:
a = "78"
a.isdigit()

True

In [77]:
b = "abcds"
print(b.isalpha())
print(b.islower())

True
True

In [78]:
c = "abvced34"
c.isalnum()

True

In [79]:
s = "   hggv"
s.isspace()  # returns true if only white space is present

False

### Find function

In [81]:
a = "We were on a break. No we were not"
a.find("were")  # returns -1 if not present

3

In [83]:
# if ranger is included
a = "We were on a break. No we were not"
a.find("were",10,len(a))

26

### Replace

In [85]:
a = a.replace("We","They")
print(a)

They were on a break. No we were not

### Count

In [87]:
a.count("were") # returns number of times given word appears

2

### Join

In [89]:
l = a.split()
print(l)

['They', 'were', 'on', 'a', 'break.', 'No', 'we', 'were', 'not']

In [90]:
"_".join(l)

'They_were_on_a_break._No_we_were_not'

In [91]:
b = "-"
b = b.join(l)
print(b)

They-were-on-a-break.-No-we-were-not

In [92]:
name = "rachel green"
name.title()

'Rachel Green'