## Lists

In [1]:
myList = [1, 2, 3, "Hello"]
print(myList)

[1, 2, 3, 'Hello']

In [3]:
l2 = list([1,2,3])
print(l2)
print(type(l2))

[1, 2, 3]
<class 'list'>

In [4]:
l3 = list(l2)
print(l3)
l3 = l3 + l2
print(l3)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]

In [5]:
l3.extend(myList)
print(l3)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 'Hello']

#### List of square of numbers from 1 to 5

In [6]:
l4 = [i*i for i in range(1,6)]
print(l4)

[1, 4, 9, 16, 25]

### List slicing

In [7]:
l4[0:4]

[1, 4, 9, 16]

In [9]:
l4[-3:]

[9, 16, 25]

### Insertion and delettion
- append
- insert
- remove
- pop
- del

In [10]:
l = [1,2]
l.append(3)
l.append([1,2])
print(l)

[1, 2, 3, [1, 2]]

In [11]:
l = l+ [4,5,6]
print(l)

[1, 2, 3, [1, 2], 4, 5, 6]

In [13]:
print(l[3])
print([l[3][0]])

[1, 2]
[1]

In [14]:
l.remove(2)
print(l)

[1, 3, [1, 2], 4, 5, 6]

In [15]:
del l[0]
print(l)

[3, [1, 2], 4, 5, 6]

In [18]:
l.pop()
print(l)

[3, [1, 2], 4, 5]

In [19]:
l = ([1, 2, 3])
l = l*4
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
l.insert(2,30)
print(l)

[1, 2, 30, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

## Sorting and Searching on Lists

In [22]:
print(max(l))
print(min(l))

30
1

In [24]:
print(l.index(30)) # Linear search

2

In [26]:
sorted(l) #returns copy of the list and does not modifies the list

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 30]

In [27]:
# if you want to modify the list 
l = sorted(l)
print(l)

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 30]

In [28]:
l = [1, 4, 6, 3, 2, 4]
l.sort()
print(l)

[1, 2, 3, 4, 4, 6]

In [29]:
l = [1, 4, 6, 3, 2, 4]
l.sort(reverse=True)
print(l)

[6, 4, 4, 3, 2, 1]

## Dictionaries in Python

In [30]:
d = {
    "Mango": 100,
    "Apple": 80
}
print(d)

{'Mango': 100, 'Apple': 80}

In [31]:
print(d["Apple"])

80

In [32]:
d["Guava"] = 80
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 80}

In [35]:
d["Grape"] = [10,70]
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 80, 'Grape': [10, 70]}

In [36]:
d["Peach"] = {"Small": 50, "Large": 90}
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 80, 'Grape': [10, 70], 'Peach': {'Small': 50, 'Large': 90}}

In [37]:
print(d.keys())

dict_keys(['Mango', 'Apple', 'Guava', 'Grape', 'Peach'])

In [38]:
print(d.values())

dict_values([100, 80, 80, [10, 70], {'Small': 50, 'Large': 90}])

In [41]:
# Get - used to get a value for a particular key
print(d["Mango"]) #Throws error if not present
print(d.get("Mango"))
print(d.get("Mangoes")) # Does not give error when not present

100
100
None

In [42]:
# items ---> returns list of tupples
l = list(d.items())
print(l)

[('Mango', 100), ('Apple', 80), ('Guava', 80), ('Grape', [10, 70]), ('Peach', {'Small': 50, 'Large': 90})]

In [43]:
# del
del d["Peach"]
l = list(d.items())
print(l)

[('Mango', 100), ('Apple', 80), ('Guava', 80), ('Grape', [10, 70])]

In [45]:
# update ---> merges d2 to d
d2 = {"Strawberry": 700}
d.update(d2)
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 80, 'Grape': [10, 70], 'Strawberry': 700}

In [47]:
print(len(d))

5

In [48]:
# clear ---> clears all keys 
d.clear()
print(len(d))

0

## How to convert a list into dictionary

In [52]:
l1 = ["Apple","Papaya","Guava","Banana"]
l2 = [100,30,54, 89]
p = dict(zip(l1,l2))
print(p)
print(type(p))

{'Apple': 100, 'Papaya': 30, 'Guava': 54, 'Banana': 89}
<class 'dict'>

In [55]:
for k in p:  # by default it iterates over keys
    print(k)

Apple
Papaya
Guava
Banana

In [56]:
for k in p.keys():
    print(k)

Apple
Papaya
Guava
Banana

## Tuples
- Collection of items
- They are similar to lists but they are immutable.
- Faster than lists
- returns multiple values from a function

In [57]:
t = (1, 2, 3,"Hello")
print(t)

(1, 2, 3, 'Hello')

In [59]:
t[0] = 5 
# this will give error

TypeError: 'tuple' object does not support item assignment

In [68]:
l = list(t)
print(l)
l[2] = 78
print(l)
t2 = tuple(l)
print(t2)

[1, 2, 3, 'Hello']
[1, 2, 78, 'Hello']
(1, 2, 78, 'Hello')

In [69]:
print(t2 + t)

(1, 2, 78, 'Hello', 1, 2, 3, 'Hello')

In [70]:
t2 = t2*3
print(t2)

(1, 2, 78, 'Hello', 1, 2, 78, 'Hello', 1, 2, 78, 'Hello')

In [71]:
t = (2, 4, 6)
print(min(t))

2

## Set data structure
- stores uniquee elements
- unordered ( order does not matter)

In [72]:
s = set([15, 1, 2, 4, 64, 6, 1])
print(s)

{64, 1, 2, 4, 6, 15}

In [73]:
s2 = {5,5,11,1,1}
print(s2)

{1, 11, 5}

In [75]:
s2.add(70)
print(s2)

{1, 11, 5, 70}

In [77]:
s.union(s2)

{1, 2, 4, 5, 6, 11, 15, 64, 70}

In [78]:
s1 = s.union(s2)
print(s1)

{64, 1, 2, 4, 5, 6, 70, 11, 15}

In [80]:
s & s2
 #intersection

{1}

In [84]:
s - s2
s.difference(s2)

{2, 4, 6, 15, 64}

In [86]:
s.clear()
print(len(s))

0

In [87]:
a1 = {1,2,3,4}
a2 = {2, 3, 4, 5, 6}
# Those elements which are only in one of the sets
print(a1^a2)

{1, 5, 6}